@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: #7E90FE;
    background: none;
}

.li:hover {
    background: none;
}

.color-gradient {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-color-gradient {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border: none;
}

.color-gray {
    color: #757575;
}

.bg-job-category {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
}

.bg-job-details{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
}